= simple_form_for @noti, html: { multipart: true} do |f|
	- if @noti.errors.any?
		#errors
			%h2
			= pluralize(@noti.errors.count, "error")
			prevented this Noti from saving
			%ul
				- @noti.errors.full_messages.each do |msg|
					%li= msg

	.form-group
		= f.input :image, input_html: { class: 'form-control' } 

	.form-group
		= f.input :title, input_html: { class: 'form-control' }
	.form-group
		= f.hidden_field :description, id: :post_body
		%trix-editor{:input => "post_body", :style => "background-image: url(#{@noti.image.url(:medium)}); background-size: contain; background-repeat: no-repeat" }
		%input#post_body{:type => "hidden", :value => "<div><span style=\"color:red\">RED</span> <span style=\"font-family: &quot;Comic Sans MS&quot;;\">world</span></div>"}/




	.form-group
		= f.input :timeout, input: { class: 'form-control' }
		


	= f.button :submit, class: "btn btn-primary"

